
__pycache__/
.pytest_cache
*.py[cod]
*$py.class

.env/
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

.env

.vscode/

.idea/

*.log

migrations/
alembic/

htmlcov/
.coverage
.tox/
.nox/

.pytest_cache/
.cache/

*.pid
*.tar
*.bak
*.tmp
docker-compose.override.yml

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
*.egg

node_modules/

*.sqlite3
